@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .container{
    @apply max-w-[1100px] mx-auto px-5 md:px-10 
  }
}
/* Scroll barni uslublash */
/* Scroll barni uslublash */
form::-webkit-scrollbar {
  width: 8px;
}

/* Scroll bar uchun track */
form::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scroll bar uchun thumb */
form::-webkit-scrollbar-thumb {
  background-color: #888; /* Scroll barning rangi */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* thumb atrofiga oraliq qo'shadi */
}

/* Hover paytidagi thumb rangi */
form::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
